@import "base/variables";
@import "base/mixins";


body {
  @include reg;
  font-size: $main-fz;
  color: $main-color;
}


.main__container {
  max-width: 950px;
  margin: 0 auto;
  padding: 0 10px;
}

.title {
  color: #0d0d0d;
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 70px;
  text-align: center;
  text-transform: uppercase;

  &--left {
    color: #ffffff;
    font-size: 36px;
    text-align: left;
  }

}

@import 'blocks/promo';
@import 'blocks/header';
@import 'blocks/buttons';
@import 'blocks/benefit';
@import 'blocks/consultation';
@import 'blocks/forms';
@import 'blocks/carousel';
@import 'blocks/catalog';
@import 'media';